# CS537 Database Project

## Author: Xi Wang

In [24]:
import pandas as pd
import numpy as np
import json
import os
import math

In [89]:
business = pd.read_csv("business.csv",encoding = "ISO-8859-1")
area = pd.read_csv("area_state.csv")

In [272]:
university = pd.read_csv("university.csv",encoding = "ISO-8859-1")

In [62]:
business.head()

,business_id,city,full_address,latitude,longitude,name,review_count,stars,state
0,5UmKMjUEUNdYWqANhGckJw,Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034",40.354327,-79.900706,Mr Hoagie,7,3.5,PA
1,mVHrayjG3uZ_RLHkLj-AMg,Braddock,"414 Hawkins Ave\nBraddock, PA 15104",40.408830,-79.866211,Emil's Lounge,26,4.5,PA
2,KayYbHCt-RkbGcPdGOThNg,Carnegie,"141 Hawthorne St\nGreentree\nCarnegie, PA 15106",40.415486,-80.067549,Alexion's Bar & Grill,23,4.0,PA
3,wJr6kSA5dchdgOdwH6dZ2w,Carnegie,"2100 Washington Pike\nCarnegie, PA 15106",40.387512,-80.093215,Kings Family Restaurant,10,3.5,PA
4,fNGIbpazjTRdXgwRY_NIXA,Carnegie,"1201 Washington Ave\nCarnegie, PA 15106",40.396469,-80.084942,Rocky's Lounge,10,4.0,PA

In [276]:
university.head()

        area              university_name   latitude  longitude university_id
0  Edinburgh      University of Edinburgh  55.949236  -3.188715       23EdiUn
1  Edinburgh       Heriot-Watt University  55.916008  -3.321408       22EdiHe
2  Edinburgh  Edinburgh Napier University  55.918727  -3.239828       27EdiEd
3  Edinburgh            Edinburgh College  55.943907  -3.098522       17EdiEd
4  Edinburgh          Leith School of Art  55.976253  -3.179793       19EdiLe

In [91]:
def calDist(lat1, lat2, lon1, lon2):   
    R = 6371 # Radius of the earth in km
    dLat = np.deg2rad(lat2-lat1)
    dLon = np.deg2rad(lon2-lon1) 
    a = math.sin(dLat/2) * math.sin(dLat/2) + math.cos(np.deg2rad(lat1)) * math.cos(np.deg2rad(lat2)) * math.sin(dLon/2) * math.sin(dLon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = R * c # Distance in km
    return d

In [192]:
university = pd.merge(university, area, on="area", how='left')

In [193]:
university

,area,university_name,latitude,longitude,university_id,state
0,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH
1,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,FIF
2,Edinburgh,Heriot-Watt University,55.916008,-3.321408,22EdiHe,EDH
3,Edinburgh,Heriot-Watt University,55.916008,-3.321408,22EdiHe,FIF
4,Edinburgh,Edinburgh Napier University,55.918727,-3.239828,27EdiEd,EDH
5,Edinburgh,Edinburgh Napier University,55.918727,-3.239828,27EdiEd,FIF
6,Edinburgh,Edinburgh College,55.943907,-3.098522,17EdiEd,EDH
7,Edinburgh,Edinburgh College,55.943907,-3.098522,17EdiEd,FIF
8,Edinburgh,Leith School of Art,55.976253,-3.179793,19EdiLe,EDH
9,Edinburgh,Leith School of Art,55.976253,-3.179793,19EdiLe,FIF
10,Edinburgh,Edinburgh Theological Seminary,55.949951,-3.194276,30EdiEd,EDH
11,Edinburgh,Edinburgh Theological Seminary,55.949951,-3.194276,30EdiEd,FIF
12,Montreal,University of Montreal,45.505563,-73.613722,22MonUn,QC
13,Montreal,Universite du Quebec a Montreal,45.512576,-73.560669,31MonUn,QC
14,Montreal,Concordia University - Loyola Campus,45.458009,-73.640334,36MonCo,QC
15,Montreal,McGill University,45.504956,-73.576181,17MonMc,QC
16,Montreal,HEC Montreal,45.503351,-73.620334,12MonHE,QC
17,Montreal,Ecole Polytechnique de Montreal,45.504373,-73.612481,31MonEc,QC
18,Montreal,Cegep du Vieux Montreal,45.514590,-73.565617,23MonCe,QC
19,Montreal,Vanier College,45.515161,-73.675044,14MonVa,QC
20,Montreal,LaSalle College,45.491497,-73.581042,15MonLa,QC
21,Montreal,College Ahuntsic,45.552116,-73.641415,16MonCo,QC
22,Pittsburgh,University of Pittsburgh,40.446208,-79.960817,24PitUn,PA
23,Pittsburgh,Carnegie Mellon University,40.443495,-79.943657,26PitCa,PA
24,Pittsburgh,Duquesne University,40.436981,-79.990244,19PitDu,PA
25,Pittsburgh,Point Park University,40.438497,-80.001276,21PitPo,PA
26,Pittsburgh,Chatham University,40.451304,-79.925514,18PitCh,PA
27,Pittsburgh,Carlow University,40.438980,-79.963075,17PitCa,PA
28,Pittsburgh,La Roche College,40.570300,-80.013567,16PitLa,PA
29,Pittsburgh,The Art Institute of Pittsburgh,40.437348,-79.999608,31PitTh,PA
...,...,...,...,...,...,...
51,Charlotte,Kings College Charlotte NC,35.213536,-80.822009,26ChaKi,NC
52,Charlotte,Kings College Charlotte NC,35.213536,-80.822009,26ChaKi,SC
53,Charlotte,DeVry University-North Carolina,35.137838,-80.931370,31ChaDe,NC
54,Charlotte,DeVry University-North Carolina,35.137838,-80.931370,31ChaDe,SC
55,Charlotte,University of Phoenix-Charlotte Campus,35.152476,-80.948851,38ChaUn,NC
56,Charlotte,University of Phoenix-Charlotte Campus,35.152476,-80.948851,38ChaUn,SC
57,Urbana-Champaign,University of Illinois at Urbana-Champaign,40.112805,-88.227132,42UrbUn,IL
58,Urbana-Champaign,Tricoci University of Beauty Culture,40.133075,-88.215816,36UrbTr,IL
59,Phoenix,Grand Canyon University,33.510543,-112.127037,23PhoGr,AZ
60,Phoenix,Phoenix College,33.483320,-112.087742,15PhoPh,AZ
61,Phoenix,arizona state university,33.497502,-112.069913,24Phoar,AZ
62,Phoenix,DeVry University,33.565994,-112.103769,16PhoDe,AZ
63,Phoenix,Arizona Christian University,33.594621,-112.026236,28PhoAr,AZ
64,Phoenix,Arizona Summit Law School,33.448509,-112.071839,25PhoAr,AZ
65,Phoenix,The Art Institute of Phoenix,33.566895,-112.106157,28PhoTh,AZ
66,Las Vegas,University of Nevada-Las Vegas,36.105558,-115.139125,30LasUn,NV
67,Las Vegas,College of Southern Nevada,36.007922,-114.964833,26LasCo,NV
68,Las Vegas,Northwest Career College,36.203770,-115.255452,24LasNo,NV
69,Las Vegas,Brightwood College-Las Vegas,36.143345,-115.188099,28LasBr,NV
70,Las Vegas,Le Cordon Bleu College of Culinary Arts Las Vegas,36.187965,-115.311689,49LasLe,NV
71,Las Vegas,Pima Medical Institute-Las Vegas,36.114371,-115.102206,32LasPi,NV
72,Las Vegas,Euphoria Institute of Beauty Arts & Sciences-L...,36.147539,-115.298671,54LasEu,NV
73,Madison,University of Wisconsin-Madison,43.079177,-89.412222,31MadUn,WI
74,Madison,Madison Area Technical College,43.122048,-89.327962,30MadMa,WI
75,Madison,Edgewood College,43.060924,-89.423378,16MadEd,WI
76,Madison,University of Wisconsin-Extension,43.074435,-89.397843,33MadUn,WI
77,Madison,Madison Media Institute,43.059146,-89.294203,23MadMa,WI
78,Madison,Herzing University-Madison,43.178557,-89.281635,26MadHe,WI
79,Madison,Globe University,43.196346,-89.294680,16MadGl,WI
80,Madison,Madison Cosmetology College,43.131446,-89.305169,27MadMa,WI

In [194]:
uni_bus = pd.merge(university, business, on = "state", how ="left")

In [195]:
uni_bus.head()

,area,university_name,latitude_x,longitude_x,university_id,state,business_id,city,full_address,latitude_y,longitude_y,name,review_count,stars
0,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH,aFVO6hoFlOCN8pKsmJbWjw,Edinburgh,15-16 Market Street\nOld Town\nEdinburgh EH1 1DE,55.950896,-3.190759,The Doric,44,4.0
1,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH,f_adZ5jM1k9uABuleJmGpw,Edinburgh,144 High Street\nNewington\nEdinburgh EH1 1QS,55.949799,-3.188709,Wee Windaes,4,3.0
2,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH,QXUzUvUp8_sCDzp7f4_ToQ,Edinburgh,13 Hope Street\nNew Town\nEdinburgh EH2 4EL,55.950803,-3.208256,Whighams Wine Cellars,21,4.0
3,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH,hFm60FnwvZJQXEVeEtUuaw,Edinburgh,Unit 4a Omni Centre\nGreenside Place\nNew Town...,55.957032,-3.185022,China China,8,2.5
4,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH,yQMRUN3WlbZH-Fq__ubvXw,Edinburgh,34 Bread Street\nOld Town\nEdinburgh EH3 9AF,55.945800,-3.203870,Mercure Point Hotel Edinburgh Traverse @ Mercu...,9,4.0

In [196]:
uni_bus['dist'] = uni_bus.apply(lambda row: calDist(row['latitude_x'],row['latitude_y'], row['longitude_x'], row['longitude_y']), axis =1)

In [197]:
uni_bus.dist.describe()

count    199307.000000
mean         14.182721
std          11.979639
min           0.009713
25%           5.231879
50%          11.467859
75%          19.697025
max          97.798855
Name: dist, dtype: float64

In [198]:
uni_bus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199307 entries, 0 to 199306
Data columns (total 15 columns):
area               199307 non-null object
university_name    199307 non-null object
latitude_x         199307 non-null float64
longitude_x        199307 non-null float64
university_id      199307 non-null object
state              199307 non-null object
business_id        199307 non-null object
city               199307 non-null object
full_address       199307 non-null object
latitude_y         199307 non-null float64
longitude_y        199307 non-null float64
name               199307 non-null object
review_count       199307 non-null int64
stars              199307 non-null float64
dist               199307 non-null float64
dtypes: float64(6), int64(1), object(8)
memory usage: 24.3+ MB

In [199]:
uni_bus.to_csv("university_area_all_business.csv", index = False)

In [200]:
uni_bus_sel = uni_bus[uni_bus['dist'] <= 10]

In [201]:
uni_bus_sel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90473 entries, 0 to 199306
Data columns (total 15 columns):
area               90473 non-null object
university_name    90473 non-null object
latitude_x         90473 non-null float64
longitude_x        90473 non-null float64
university_id      90473 non-null object
state              90473 non-null object
business_id        90473 non-null object
city               90473 non-null object
full_address       90473 non-null object
latitude_y         90473 non-null float64
longitude_y        90473 non-null float64
name               90473 non-null object
review_count       90473 non-null int64
stars              90473 non-null float64
dist               90473 non-null float64
dtypes: float64(6), int64(1), object(8)
memory usage: 11.0+ MB

In [217]:
uni_bus_sel.to_csv("university_business_sel_10km_all_attr.csv", index = False)

In [203]:
uni_size = uni_bus_sel.groupby('university_id').size()

In [204]:
uni_size = pd.DataFrame(uni_size)

In [205]:
uni_size = uni_size.reset_index()

In [214]:
uni_size = uni_size.rename(columns = {'restaurant_num': 'business_num'})

In [237]:
uni_size

   university_id  business_num
0        12MonHE          2847
1        14MonVa          2849
2        15MonLa          2865
3        15PhoPh          1716
4        16MadEd           949
5        16MadGl           159
6        16MonCo          2825
7        16PhoDe          1385
8        16PitLa            33
9        17EdiEd          1184
10       17MonMc          2852
11       17PitCa          1535
12       18PitCh          1333
13       19EdiLe          1215
14       19PitDu          1577
15       21PitPo          1556
16       22EdiHe          1065
17       22MonUn          2845
18       22WatUn           343
19       22WatWa           321
20       23ChaCh          1153
21       23EdiUn          1219
22       23MadMa           676
23       23MonCe          2842
24       23PhoGr          1681
25       24LasNo          1656
26       24Phoar          1755
27       24PitUn          1494
28       25PhoAr          1595
29       26ChaKi          1132
..           ...           ...
37       28LasBr          3434
38       28PhoAr          1167
39       28PhoTh          1387
40       30ChaQu          1156
41       30EdiEd          1219
42       30KarAc           523
43       30KarHo           544
44       30LasUn          3384
45       30MadMa           679
46       31ChaDe           642
47       31MadUn           985
48       31MonEc          2846
49       31MonUn          2850
50       31PitTh          1570
51       32LasPi          3002
52       33KarKa           543
53       33KarPa           528
54       33MadUn           948
55       36MonCo          2649
56       36UrbTr           317
57       38ChaJo          1116
58       38ChaUn           490
59       39KarKa           524
60       40KarKa           531
61       41ChaUn           424
62       42PitJo          1481
63       42UrbUn           317
64       43KarHo           523
65       49LasLe          1156
66       54LasEu          1723

[67 rows x 2 columns]

In [216]:
uni_size.to_csv("university_business_num.csv", index =False)

In [218]:
uni_bus_num = pd.merge(uni_bus_sel, uni_size, on = 'university_id', how = 'left')

In [219]:
uni_bus_num.head()

,area,university_name,latitude_x,longitude_x,university_id,state,business_id,city,full_address,latitude_y,longitude_y,name,review_count,stars,dist,business_num
0,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH,aFVO6hoFlOCN8pKsmJbWjw,Edinburgh,15-16 Market Street\nOld Town\nEdinburgh EH1 1DE,55.950896,-3.190759,The Doric,44,4.0,0.224241,1219
1,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH,f_adZ5jM1k9uABuleJmGpw,Edinburgh,144 High Street\nNewington\nEdinburgh EH1 1QS,55.949799,-3.188709,Wee Windaes,4,3.0,0.062593,1219
2,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH,QXUzUvUp8_sCDzp7f4_ToQ,Edinburgh,13 Hope Street\nNew Town\nEdinburgh EH2 4EL,55.950803,-3.208256,Whighams Wine Cellars,21,4.0,1.229052,1219
3,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH,hFm60FnwvZJQXEVeEtUuaw,Edinburgh,Unit 4a Omni Centre\nGreenside Place\nNew Town...,55.957032,-3.185022,China China,8,2.5,0.896820,1219
4,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,EDH,yQMRUN3WlbZH-Fq__ubvXw,Edinburgh,34 Bread Street\nOld Town\nEdinburgh EH3 9AF,55.945800,-3.203870,Mercure Point Hotel Edinburgh Traverse @ Mercu...,9,4.0,1.018023,1219

In [220]:
def calScore(dist, star):
    return 1/dist*star

In [224]:
uni_bus_num['score'] = uni_bus_num.apply(lambda x: calScore(x['dist'], x['stars']), axis =1)

In [245]:
uni_bus_score = uni_bus_num.groupby(by=['university_id'])['score'].sum()

In [246]:
uni_bus_score = pd.DataFrame(uni_bus_score).reset_index()

In [247]:
uni_bus_score = uni_bus_score.rename(columns = {"score": "dist_star_score"})

In [252]:
uni_bus_score

   university_id  dist_star_score  business_num    score1
0        12MonHE      2804.217260          2847  0.984973
1        14MonVa      1736.055812          2849  0.609356
2        15MonLa      5693.880347          2865  1.987393
3        15PhoPh      1517.984937          1716  0.884607
4        16MadEd       948.544115           949  0.999520
5        16MadGl        81.590898           159  0.513150
6        16MonCo      1836.561255          2825  0.650110
7        16PhoDe      1067.928978          1385  0.771068
8        16PitLa        12.777457            33  0.387196
9        17EdiEd       800.712421          1184  0.676277
10       17MonMc      6005.696751          2852  2.105784
11       17PitCa      2098.050947          1535  1.366808
12       18PitCh      1582.187658          1333  1.186937
13       19EdiLe      1982.768561          1215  1.631908
14       19PitDu      2483.437179          1577  1.574786
15       21PitPo      3885.706713          1556  2.497241
16       22EdiHe       505.381779          1065  0.474537
17       22MonUn      2973.036578          2845  1.045004
18       22WatUn       598.851591           343  1.745923
19       22WatWa       365.087038           321  1.137343
20       23ChaCh      4503.716974          1153  3.906086
21       23EdiUn      7360.660823          1219  6.038278
22       23MadMa       379.702938           676  0.561691
23       23MonCe      7280.612563          2842  2.561792
24       23PhoGr      1054.803482          1681  0.627486
25       24LasNo      1258.344299          1656  0.759870
26       24Phoar      1612.251073          1755  0.918662
27       24PitUn      1980.867432          1494  1.325882
28       25PhoAr      3997.517820          1595  2.506281
29       26ChaKi      1554.493301          1132  1.373227
..           ...              ...           ...       ...
37       28LasBr      3215.444690          3434  0.936355
38       28PhoAr       706.249088          1167  0.605183
39       28PhoTh      1011.338889          1387  0.729156
40       30ChaQu      1023.801163          1156  0.885641
41       30EdiEd      6564.271859          1219  5.384965
42       30KarAc      1358.348439           523  2.597225
43       30KarHo       860.299776           544  1.581433
44       30LasUn      3507.071560          3384  1.036369
45       30MadMa       511.693204           679  0.753598
46       31ChaDe       812.892092           642  1.266187
47       31MadUn      1112.296258           985  1.129235
48       31MonEc      2993.018613          2846  1.051658
49       31MonUn      6247.561117          2850  2.192127
50       31PitTh      4242.839629          1570  2.702446
51       32LasPi      2191.617843          3002  0.730053
52       33KarKa       831.122750           543  1.530613
53       33KarPa      1649.163386           528  3.123416
54       33MadUn      3175.967873           948  3.350177
55       36MonCo      1559.901895          2649  0.588864
56       36UrbTr       382.455898           317  1.206485
57       38ChaJo      1804.063579          1116  1.616544
58       38ChaUn       347.260761           490  0.708695
59       39KarKa      1372.112510           524  2.618535
60       40KarKa      2107.841245           531  3.969569
61       41ChaUn       431.752830           424  1.018285
62       42PitJo      2389.282138          1481  1.613290
63       42UrbUn      1217.868832           317  3.841858
64       43KarHo      1128.401794           523  2.157556
65       49LasLe       843.602368          1156  0.729760
66       54LasEu      1930.552277          1723  1.120460

[67 rows x 4 columns]

In [249]:
uni_bus_score = pd.merge(uni_bus_score, uni_size, on = "university_id", how = 'left')

In [251]:
uni_bus_score['score1'] = uni_bus_score.apply(lambda x: x['dist_star_score']/x['business_num'], axis =1)

In [256]:
score1_min = uni_bus_score['score1'].min()
score1_max = uni_bus_score['score1'].max()

In [259]:
print(score1_min)
print(score1_max)

0.387195659126
6.03827795198

In [260]:
score2_min = uni_bus_score['business_num'].min()
score2_max = uni_bus_score['business_num'].max()

In [261]:
print(score2_min)
print(score2_max)

33
3434

In [262]:
uni_bus_score['score'] = uni_bus_score.apply(lambda x: 0.7*(x['score1']-score1_min)/(score1_max-score1_min) + 0.3*(x['business_num']-score2_min)/(score2_max-score2_min), axis =1)

In [267]:
uni_bus_score

   university_id  dist_star_score  business_num     score
21       23EdiUn      7360.660823          1219  0.804616
41       30EdiEd      6564.271859          1219  0.723690
20       23ChaCh      4503.716974          1153  0.534680
23       23MonCe      7280.612563          2842  0.517147
60       40KarKa      2107.841245           531  0.487677
49       31MonUn      6247.561117          2850  0.472063
10       17MonMc      6005.696751          2852  0.461544
63       42UrbUn      1217.868832           317  0.452981
2        15MonLa      5693.880347          2865  0.448025
54       33MadUn      3175.967873           948  0.447736
50       31PitTh      4242.839629          1570  0.422368
28       25PhoAr      3997.517820          1595  0.400274
15       21PitPo      3885.706713          1556  0.395714
53       33KarPa      1649.163386           528  0.382599
44       30LasUn      3507.071560          3384  0.376003
37       28LasBr      3215.444690          3434  0.368024
48       31MonEc      2993.018613          2846  0.330440
17       22MonUn      2973.036578          2845  0.329527
0        12MonHE      2804.217260          2847  0.322268
59       39KarKa      1372.112510           524  0.319707
42       30KarAc      1358.348439           523  0.316979
51       32LasPi      2191.617843          3002  0.304363
33       26WatWi       904.721296           353  0.297738
14       19PitDu      2483.437179          1577  0.283302
62       42PitJo      2389.282138          1481  0.279604
6        16MonCo      1836.561255          2825  0.278848
1        14MonVa      1736.055812          2849  0.275917
64       43KarHo      1128.401794           523  0.262517
13       19EdiLe      1982.768561          1215  0.258446
55       36MonCo      1559.901895          2649  0.255736
..           ...              ...           ...       ...
12       18PitCh      1582.187658          1333  0.213736
3        15PhoPh      1517.984937          1716  0.210071
18       22WatUn       598.851591           343  0.195651
43       30KarHo       860.299776           544  0.193005
25       24LasNo      1258.344299          1656  0.189327
52       33KarKa       831.122750           543  0.186622
47       31MadUn      1112.296258           985  0.175892
24       23PhoGr      1054.803482          1681  0.175134
35       27EdiEd      1091.561319          1226  0.167559
7        16PhoDe      1067.928978          1385  0.166809
46       31ChaDe       812.892092           642  0.162600
39       28PhoTh      1011.338889          1387  0.161794
40       30ChaQu      1023.801163          1156  0.160802
4        16MadEd       948.544115           949  0.156648
34       27ChaJo       909.542071          1009  0.149790
65       49LasLe       843.602368          1156  0.141493
9        17EdiEd       800.712421          1184  0.137338
38       28PhoAr       706.249088          1167  0.127032
56       36UrbTr       382.455898           317  0.126537
36       27MadMa       611.311284           618  0.126170
19       22WatWa       365.087038           321  0.118325
61       41ChaUn       431.752830           424  0.112663
45       30MadMa       511.693204           679  0.102370
16       22EdiHe       505.381779          1065  0.101851
30       26LasCo       296.147428           332  0.088906
58       38ChaUn       347.260761           490  0.080136
22       23MadMa       379.702938           676  0.078333
31       26MadHe       109.690641           177  0.041505
5        16MadGl        81.590898           159  0.026716
8        16PitLa        12.777457            33  0.000000

[67 rows x 4 columns]

In [264]:
uni_bus_score = uni_bus_score.sort_index(by=['score'], ascending=[False])

/Users/eeriee/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

In [266]:
uni_bus_score = uni_bus_score.drop(['score1'], axis = 1)

In [268]:
uni_bus_score.to_csv("univeristy_business_rank.csv", index = False)

In [269]:
uni_bus_dist = uni_bus_num[['university_id', 'business_id','dist']]

In [270]:
uni_bus_dist.head()

  university_id             business_id      dist
0       23EdiUn  aFVO6hoFlOCN8pKsmJbWjw  0.224241
1       23EdiUn  f_adZ5jM1k9uABuleJmGpw  0.062593
2       23EdiUn  QXUzUvUp8_sCDzp7f4_ToQ  1.229052
3       23EdiUn  hFm60FnwvZJQXEVeEtUuaw  0.896820
4       23EdiUn  yQMRUN3WlbZH-Fq__ubvXw  1.018023

In [271]:
uni_bus_dist.to_csv("university_business_distance.csv", index = False)

In [275]:
uni_bus_score = uni_bus_score.drop(['dist_star_score'], axis =1)

In [277]:
uni = pd.merge(university, uni_bus_score, on = 'university_id', how ='left')

In [278]:
uni.head()

,area,university_name,latitude,longitude,university_id,business_num,score
0,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn,1219,0.804616
1,Edinburgh,Heriot-Watt University,55.916008,-3.321408,22EdiHe,1065,0.101851
2,Edinburgh,Edinburgh Napier University,55.918727,-3.239828,27EdiEd,1226,0.167559
3,Edinburgh,Edinburgh College,55.943907,-3.098522,17EdiEd,1184,0.137338
4,Edinburgh,Leith School of Art,55.976253,-3.179793,19EdiLe,1215,0.258446

In [279]:
uni.to_csv("university.csv", index = False)